
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;500;600;700;800;900&display=swap');
/* 1. Enable smooth scrolling */
html {
	scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
}

html::before {
  opacity: calc(30 * 0.01);
}

* {
  margin: 0px;
  box-sizing: border-box;
}

body {
  font-family: 'Nunito Sans';
  font-weight: 400;
  overflow-x: hidden;
  background-color: #030303;
  color: #D9DADC;
}

h1 {
    font-family: 'Nunito Sans';
    font-weight: 600;
    font-size: 24px;
    color: #D9DADC;
  }

h3 {
    font-family: 'Nunito Sans';
    font-weight: 500;
    font-size: 18px;
    padding-bottom: 6px;
    color: #D9DADC;
  }
.mobileonlybutton {
  display: none;
}
.intromain {
  display: inline-flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  text-align: center;
  padding: 1em 10em ;
  gap: 12px;
  width: 100vw;
  color: #D9DADC;
}
.intro {
  display: inline-flex;
  flex-direction: column;
  position: relative;
  text-align: center;
  text-align: center;
  padding: 1em 28em 1em 10em;
  gap: 12px;
  width: 100vw;
  color: #D9DADC;
}
.intro h1 {    
  font-weight: 800;
  font-size: 32px;
  color: #D9DADC;
}

.introp {
  display: inline-flex;
  flex-direction: column;
  gap: 12px;
  text-align: left;
  color: #D9DADC;
}
.ptitle {
  font-weight: 600;
  padding-top: 6px;
  padding-bottom: 6px;
  text-align: center;
  color: #D9DADC;
}
.problems {
  list-style: none;
  margin-block-start: 0em;
  margin-right: 4em;
  padding-inline-start: 0em;
  padding-right: 6em;
  max-width: 800px;
  color: #D9DADC;
}

.projects {
    display: inline-flex;
    flex-direction: row;
    position: relative;
    justify-content: center;
    gap: 12px;
    padding: .5em 8em;
    width: 100vw;
}

.pmain {
    display: inline-flex;
    flex-direction: row;
    width: 25vw;
    position: relative;
}
.pmain:hover {
  opacity: 0;
}

.himage:hover .text {
  opacity: 1;
}

.text {
  padding: 10px;
  position:absolute;
  display: inline;
  align-self: center;
  justify-self: center;
  margin-left: -250px;
  margin-top: 150px;
  color: #fff;
  font-weight: 600;
  font-size: 28px;
  opacity: 0;
  z-index: 5;
}

.navbar {
    top: 0;
    bottom: 12px;
    background-color: #1A1A1B;
  font-weight: 600;
  padding-left: 120px;
  padding-right: 120px;
  color: #D9DADC;
    height: 50px;
    width: 100vw;
    position: sticky;
    z-index: 4;
  }
.navname {
  display: flex;
  justify-content: space-between;
  padding: 24px 150px 24px 150px;
  font-size: 24px;
font-weight: 600;
font-variant: all-petite-caps;
  height: auto;
  width: 100vw;
}

.navitem {
text-decoration: none;
color: #D9DADC;
padding: 8px;
}

.navsoc {
  display: flex;
  font-size: 16px;
  font-weight: 400;
  font-variant: normal;
  justify-content: space-between;
}
  .navbar .icon {
    display: none;
  }
  .maintext p {
    padding-right: 18px;
    padding-bottom: 12px;
    max-width: 800px;
    color: #D9DADC;
  }
  @media screen and (max-width: 600px) {
    .navbar a:not(:first-child), .dropdown #mywork {
      display: none;
    }
    .navbar a.icon {
      display: block;
      position: absolute;
      left: 80px;
    }
    .navbar .otherlink {
      display: none;
    }

    .pmain {
      width: 75vw;
    }
   .projects {
     display: inline-flex;
     flex-direction: row;
     flex-wrap: wrap;
    }

    .embedprototype {
      display: none;
    }

    .mobileonlybutton {
      display: inline-block;
      font-family: 'Nunito Sans';
      text-decoration: none;
      font-size: 16px;
      font-weight: 500;
      padding: 8px 24px;
      width: max-content;
      border-radius: 48px;
      color: #030303;
      align-self: center;
      border: solid 2px #B6AAE7;
      background-color: #B6AAE7;
    }
    
    .mobileonlybutton:hover {
      color: #030303 !important;
      text-decoration: none;
      border: solid 2px #7164A8;
      background-color: #7164A8;
    } 
    body .myImg {
      transition: 0.3s;
      max-width: 350px;
    }
    body {
      overflow-x: clip;
    }
  }
  @media screen and (max-width: 600px) {
    #mywork {
      display: none;
    }
    .navbar.responsive {
      display: inline-flex;
      flex-direction: column;
    }

    body .dps {
      display: flex;
      flex-direction: column;
    }

    .problems {
      margin-right: 6px;
      padding-right: 0px;
    }
    
.navbar.responsive a.icon {
      display: block;
      position: absolute;
      left: 0px;
    } 
    .navbar.responsive .otherlink {
      display: none;
    }
    body .maintext {
      padding: 6px;
      margin-left: 6px;
      margin-right: 6px;
      width: 80vw;
      max-width: 340px;
      overflow-wrap: break-word;
    }
    body .navbar {
      width: 100%;
    }

    .text {
      height: fit-content;
      opacity: 1;
    }
 /*   .navbar.responsive a {
      text-align: left;
      display: block;
      position: absolute;
      left: 0px;
    }

    .navbar.responsive .dropdown {
      display: block;
      position: fixed;
      left: 80px;
    }

    .navbar.responsive .ddlist {
      display: block;
      position: absolute;
    } */ 
  }

  .navbar ul {
    margin-left: 120px;
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .textproject {
    height: fit-content;
    gap: 24px;
  }
.textproject h2 {
  padding-top: 24px;
  padding-bottom: 12px;
}

.CTA {
  display: inline-block;
  font-family: 'Nunito Sans';
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  padding: 8px 24px;
  width: max-content;
  border-radius: 48px;
  color: #030303;
  align-self: center;
  border: solid 2px #B6AAE7;
  background-color: #B6AAE7;
}

.CTA:hover {
  color: #030303 !important;
  text-decoration: none;
  border: solid 2px #7164A8;
  background-color: #7164A8;
}

.scrollup {
  border-style: none;
  color: #D9DADC;
}

.scrollup:hover {
  color: #D9DADC;
}

  .navbar a {
    text-decoration: none;
    position: relative;
    color: #D9DADC;
    line-height: 50px;
    width: 10em;
  }

  .otherlink {
    float: right;
    position: relative;
    text-decoration: none;
    color: #D9DADC;
    line-height: 50px;
    display: inline-flex;
    flex-direction: row;
  }

  .otherlink li {
    width: fit-content;
  }
  
  a:hover:not(.active):not(#reflink) {
    color: #D9DADC;
    font-weight: 800;
  }
  
  .active {
    font-weight: 800;
  }
  
  .dropdown {
  float: left;
  width: 10em;
	left: -999em;
  }
  
  .dropdown-content {
    display: none;
    background-color: #030303;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
  }
  
  .dropdown:hover {
    color: #D9DADC;
  }
  #mywork:hover {
    color: #D9DADC;
  }
  .dropdown:hover .ddlist {
    display: inline-flex;
    flex-direction: column;
    position: absolute;
  }

  .dropdown:hover .dropdown-content {
    display: inline-flex;
    flex-direction: column;
  }

  #navbar li:hover ul {
    left: auto;
  }

/* 2. Make nav sticky */
.maintext > nav {
  position: fixed;
  top: 8em;
  right: 12em;
  align-self: start;
}

/* 3. ScrollSpy active styles (see JS tab for activation) */
.sectionnav li.active > a {
	color: #D9DADC;
	font-weight: 600;
}

/* Sidebar Navigation */
.sectionnav {
	border: 1px solid #818384;
  border-radius: 12px;
  list-style: none;
  display: inline-block;
	padding: 1em 4em 1em 1em;
  font-weight: 300;
  background-color: #1A1A1B;
}

.sectionnav a {
	text-decoration: none;
	display: block;
	padding: .125rem 0;
	color: #D9DADC;
  font-weight: 300;
	transition: all 50ms ease-in-out; 
}

.sectionnav a:hover,
.sectionnav a:focus {
	color: #D9DADC;
}

.sectionnav ul, .sectionnav ol {
	list-style: none;
  display: inline-block;
  position: relative;
	margin: 0;
	padding: 0;
  z-index: 1;
}

.sectionnav li {
  list-style: none;
	margin-left: 1rem;
}

/** ptoject page layout **/
.maintext {
	display: grid;
	grid-template-columns: 1fr 15em;
	max-width: 100em;
	width: 90%;
	margin: 0 auto;
  padding: 1em 6em;
}

/*Design Principle Div and list*/
.dps {
  list-style-type: none;
  padding-left: 0;
  gap: 6px;
  font-size: 18px;
  width: fit-content;
  justify-content: center;
  flex-direction: row;
  display: flex;
  background-color: #1A1A1B;
}

.dps li {
  border: solid 1px #D9DADC;
  height: 50px;
  border-radius: 12px;
  line-height: 2.7;
  width: fit-content;
  padding: 0em 1em 1em 0em;
}
 .dps li .fal {
  width: 50px;
  font-size: 18px;
  text-align: center;
  font-size: 24px;
}
.dps li:hover {
  border: solid 1px #D9DADC;
}

.myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  align-self: center;
  max-width: 800px;
}

.myImg:hover {
  opacity: 0.7;
}

.modal {
  display: none; 
  position: fixed; 
  z-index: 999; 
  padding-top: 100px; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto;
  background-color: #030303;
  background-color: rgba(255, 255, 255, 0.9);
}


.modal-content {
  margin: auto;
  width: 100vw;
}


#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #D9DADC;
  padding: 10px 0;
  height: 150px;
}


.modal-content, #caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}


.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #D9DADC;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #D9DADC;
  text-decoration: none;
  cursor: pointer;
}

@media only screen and (max-width: 700px){
  .modal-content {
    width: 100vw;
  }

  .maintext {
    width: 100vw;
    padding: 2em;
  }
  .intro {
    width: 100vw;
    padding: 12px;
  }
  .intromain {
    width: 100vw;
    padding: 12px;
  }
  .introp {
    width: 80vw;
    padding: 12px;
  }
}

@media only screen and (max-width: 1284px){
.sectionnav {
  display: none;
}
}

@media only screen and (max-width: 1200px){
  .maintext>nav {
   right: 3em;
  }
}
@media only screen and (max-width: 1350px){
  .maintext>nav {
   right: 6em;
  }
}

