
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;500;600;700;800;900&display=swap');
/* 1. Enable smooth scrolling */
html {
	scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
}

html::before {
  opacity: calc(30 * 0.01);
}

* {
  margin: 0px;
  min-height: 100%;
  box-sizing: border-box;
}

body {
  font-family: 'Nunito Sans';
  font-weight: 400;
  overflow-x: hidden;
}

h1 {
    font-family: 'Nunito Sans';
    font-weight: 600;
    font-size: 24px;
  }

h3 {
    font-family: 'Nunito Sans';
    font-weight: 500;
    font-size: 18px;
  }
.mobileonlybutton {
  display: none;
}
.intromain {
  display: inline-flex;
  flex-direction: column;
  position: relative;
  text-align: center;
  text-align: center;
  padding: 1em 8em;
  gap: 12px;
  width: 100vw;
}
.intro {
  display: inline-flex;
  flex-direction: column;
  position: relative;
  text-align: center;
  text-align: center;
  padding: 1em 28em 1em 10em;
  gap: 12px;
  width: 100vw;
}
.intro h1 {    
  font-weight: 800;
  font-size: 32px;
}

.introp {
  display: inline-flex;
  flex-direction: column;
  gap: 12px;
  text-align: left;
}

.projects {
    display: inline-flex;
    flex-direction: row;
    position: relative;
    justify-content: center;
    gap: 12px;
    padding: .5em 8em;
    width: 100vw;
}

.pmain {
    display: inline-flex;
    flex-direction: row;
    width: 25vw;
    position: relative;
}
.pmain:hover {
  opacity: 0.7;
}

.himage:hover .text {
  opacity: 1;
}

.text {
  padding: 10px;
  position:absolute;
  display: inline;
  align-self: center;
  justify-self: center;
  color: #5C606D;
  font-weight: 600;
  font-size: 32px;
  font-variant: all-petite-caps;
  opacity: 0;
  z-index: 5;
  margin-left: -250px;
  margin-top: 200px;
}

.navbar {
    top: 0;
    bottom: 12px;
    background-color: #FFF;
  font-weight: 600;
  padding-left: 120px;
  padding-right: 120px;
    height: 50px;
    width: 100vw;
    position: sticky;
    border-bottom: 1px solid #f2f2f2;
    z-index: 4;
  }

  .navbar .icon {
    display: none;
  }
  
  @media screen and (max-width: 600px) {
    .navbar a:not(:first-child), .dropdown #mywork {
      display: none;
    }
    .navbar a.icon {
      display: block;
      position: absolute;
      left: 80px;
    }
    .navbar .otherlink {
      display: none;
    }

    .pmain {
      width: 75vw;
    }
   .projects {
     display: inline-flex;
     flex-direction: row;
     flex-wrap: wrap;
    }

    .embedprotype {
      display: none;
    }

    .sectionnav {
      visibility: collapse;
    }

    .mobileonlybutton {
      display: inline-block;
      font-family: 'Nunito Sans';
      text-decoration: none;
      font-size: 16px;
      font-weight: 500;
      padding: 8px 24px;
      width: max-content;
      border-radius: 48px;
      color: #2597EB;
      align-self: center;
      border: solid 2px #2597EB;
      background-color: #E9F3FE ;
    }
    
    .mobileonlybutton:hover {
      color: #fff !important;
      text-decoration: none;
      border: solid 2px #2597EB;
      background-color: #2597EB ;
    } 
    .intro {
      padding: 0px;
      padding-left: 8em;
      text-align: left;
    }
    .introp .intromain {
      padding: 12px;
    }
  }
  @media screen and (max-width: 600px) {
    #mywork {
      display: none;
    }
    .navbar.responsive {
      display: inline-flex;
      flex-direction: column;
    }
.navbar.responsive a.icon {
      display: block;
      position: absolute;
      left: 0px;
    } 
    .navbar.responsive .otherlink {
      display: none;
    }
 /*   .navbar.responsive a {
      text-align: left;
      display: block;
      position: absolute;
      left: 0px;
    }

    .navbar.responsive .dropdown {
      display: block;
      position: fixed;
      left: 80px;
    }

    .navbar.responsive .ddlist {
      display: block;
      position: absolute;
    } */ 
  }



  .navbar ul {
    margin-left: 120px;
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .textproject {
    height: fit-content;
    gap: 24px;
  }
.textproject h2 {
  padding-top: 24px;
  padding-bottom: 12px;
}

.CTA {
  display: inline-block;
  font-family: 'Nunito Sans';
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  padding: 8px 24px;
  width: max-content;
  border-radius: 48px;
  color: #2597EB;
  align-self: center;
  border: solid 2px #2597EB;
  background-color: #E9F3FE ;
}

.CTA:hover {
  color: #fff !important;
  text-decoration: none;
  border: solid 2px #2597EB;
  background-color: #2597EB ;
}

  .navbar a {
    text-decoration: none;
    position: relative;
    color: #010F18;
    line-height: 50px;
    width: 10em;
  }

  .otherlink {
    float: right;
    position: relative;
    text-decoration: none;
    color: #010F18;
    line-height: 50px;
    display: inline-flex;
    flex-direction: row;
  }

  .otherlink li {
    width: fit-content;
  }
  
  a:hover:not(.active):not(#reflink) {
    color: #2597EB;
  }
  
  .active {
    font-weight: 800;
  }
  
  .dropdown {
  float: left;
  width: 10em;
	left: -999em;
  }
  
  .dropdown-content {
    display: none;
    background-color: #fff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
  }
  
  .dropdown:hover {
    color: #2597EB;
  }
  #mywork:hover {
    color: #2597EB;
  }
  .dropdown:hover .ddlist {
    display: inline-flex;
    flex-direction: column;
    position: absolute;
  }

  .dropdown:hover .dropdown-content {
    display: inline-flex;
    flex-direction: column;
  }

  #navbar li:hover ul {
    left: auto;
  }

/* 2. Make nav sticky */
.maintext > nav {
	position: sticky;
	top: 2rem;
	align-self: start;
  scroll-behavior: smooth;
}

/* 3. ScrollSpy active styles (see JS tab for activation) */
.sectionnav li.active > a {
	color: #333;
	font-weight: 500;
}

/* Sidebar Navigation */
.sectionnav {
	padding-left: 0;
	border-left: 1px solid #efefef;
  list-style: none;
  display: inline-block;
  position: relative;
	margin: 0;
	padding: 0;
}

.sectionnav a {
	text-decoration: none;
	display: block;
	padding: .125rem 0;
	color: #000;
	transition: all 50ms ease-in-out; /* 💡 This small transition makes setting of the active state smooth */
}

.sectionnav a:hover,
.sectionnav a:focus {
	color: #666;
}

.sectionnav ul, .sectionnav ol {
	list-style: none;
  display: inline-block;
  position: relative;
	margin: 0;
	padding: 0;
  z-index: 1;
}

.sectionnav li {
  list-style: none;
	margin-left: 1rem;
}

/** ptoject page layout **/
.maintext {
	display: grid;
	grid-template-columns: 1fr 15em;
	max-width: 100em;
	width: 90%;
	margin: 0 auto;
  padding: 1em 6em;
}

/*Design Principle Div and list*/
.dps {
  list-style-type: none;
  padding-left: 0;
  gap: 6px;
  font-size: 18px;
  justify-content: center;
  flex-direction: row;
  display: flex;
}

.dps li {
  width: 300px;
  border: solid 1px #2597EB;
  height: 50px;
  border-radius: 12px;
  line-height: 2.7;
  width: fit-content;
  padding: 0em 1em 1em 0em;
}
 .dps li .fal {
  width: 50px;
  font-size: 18px;
  text-align: center;
  font-size: 24px;
}
.dps li:hover {
  background-color:#E9F3FE;
}

/* Style the Image Used to Trigger the Modal */
#myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  width: 800px;
}

#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 10; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: #FFF; /* Fallback color */
  background-color: rgba(255, 255, 255, 0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
  margin: auto;
  width: 100vw;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #000;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #000;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100vw;
  }
}