
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;900&display=swap');
/* 1. Enable smooth scrolling */
html {
	scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
}

html::before {
  opacity: calc(30 * 0.01);
}

* {
  margin: 0px;
  min-height: 100%;
  box-sizing: border-box;
}

body {
  font-family: 'Nunito Sans';
  font-weight: 400;
  overflow-x: hidden;
}

h1 {
    font-family: 'Nunito Sans';
    font-weight: 600;
    font-size: 24px;
  }

h3 {
    font-family: 'Nunito Sans';
    font-weight: 500;
    font-size: 18px;
  }

.intro {
  display: inline-flex;
  flex-direction: column;
  position: relative;
  text-align: center;
  padding: 1em 8em;
  gap: 12px;
  width: 100vw;
}

.projects {
    display: inline-flex;
    flex-direction: row;
    position: relative;
    justify-content: center;
    gap: 12px;
    padding: .5em 8em;
    width: 100vw;
}

.pmain {
    display: inline-flex;
    flex-direction: row;
    width: 25vw;
    position: relative;
}

.navbar {
    top: 0;
    bottom: 12px;
    background-color: #FFF;
  font-weight: 600;
  padding-left: 120px;
  padding-right: 120px;
    height: 50px;
    width: 100vw;
    position: sticky;
    border-bottom: 1px solid #f2f2f2;
    z-index: 4;
  }

  .navbar .icon {
    display: none;
  }
  
  @media screen and (max-width: 600px) {
    .navbar a:not(:first-child), .dropdown #mywork {
      display: none;
    }
    .navbar a.icon {
      float: right;
      display: block;
    }
    .pmain {
      width: 75vw;
    }
   .projects {
     display: inline-flex;
     flex-direction: row;
     flex-wrap: wrap;
    }

    .embedprotype {
      display: none;
    }

    .section-nav {
      display: none;
    }
  }
  @media screen and (max-width: 600px) {
    #mywork {
      display: none;
    }
    .navbar.responsive {
      position: absolute;
    }
    .navbar.responsive a.icon {
      position: fixed;
      left: 0;
      top: 0;
    }
    .navbar.responsive a {
      float: left;
      text-align: left;
    }
    .navbar.responsive .dropdown {
      display: inline-block;
      position: fixed;
    }
    .navbar.responsive .ddlist {
      position: absolute;
    }
  }

  .navbar ul {
    margin-left: 120px;
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .textproject {
    height: fit-content;
    gap: 24px;
  }
.textproject h2 {
  padding-top: 24px;
}

.CTA {
  font-family: 'Nunito Sans';
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  padding: 8px 24px;
  width: max-content;
  border-radius: 48px;
  color: #2597EB;
  align-self: center;
  border: solid 2px #2597EB;
  background-color: #E9F3FE ;
}

.CTA:hover {
  color: #fff !important;
  text-decoration: none;
  border: solid 2px #2597EB;
  background-color: #2597EB ;
}

  .navbar a {
    text-decoration: none;
    position: relative;
    color: #010F18;
    line-height: 50px;
    width: 10em;
  }

  .otherlink {
    float: right;
    position: relative;
    text-decoration: none;
    color: #010F18;
    line-height: 50px;
    display: inline-flex;
    flex-direction: row;
  }

  .otherlink li {
    width: fit-content;
  }
  
  a:hover:not(.active):not(#reflink) {
    color: #2597EB;
  }
  
  .active {
    font-weight: 800;
  }
  
  .dropdown {
  float: left;
  width: 10em;
	left: -999em;
  }
  
  .dropdown-content {
    display: none;
    background-color: #fff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
  }
  
  .dropdown:hover {
    color: #2597EB;
  }
  #reflink:hover {
    color: #2597EB;
  }
  .dropdown:hover .ddlist {
    display: inline-flex;
    flex-direction: column;
    position: absolute;
  }

  .dropdown:hover .dropdown-content {
    display: inline-flex;
    flex-direction: column;
  }

  #navbar li:hover ul {
    left: auto;
  }

/* 2. Make nav sticky */
.maintext > nav {
	position: sticky;
	top: 2rem;
	align-self: start;
}

/* 3. ScrollSpy active styles (see JS tab for activation) */
.section-nav li.active > a {
	color: #333;
	font-weight: 500;
}

/* Sidebar Navigation */
.section-nav {
	padding-left: 0;
	border-left: 1px solid #efefef;
}

.section-nav a {
	text-decoration: none;
	display: block;
	padding: .125rem 0;
	color: #000;
	transition: all 50ms ease-in-out; /* 💡 This small transition makes setting of the active state smooth */
}

.section-nav a:hover,
.section-nav a:focus {
	color: #666;
}

.section-nav ul, .section-nav ol {
	list-style: none;
	margin: 0;
	padding: 0;
}
.section-nav li {
	margin-left: 1rem;
}

/** ptoject page layout **/
.maintext {
	display: grid;
	grid-template-columns: 1fr 15em;
	max-width: 100em;
	width: 90%;
	margin: 0 auto;
  padding: 1em 6em;
}
